jobs:
  build:
    if: github.actor != 'dependabot[bot]'
    name: Build package
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha || github.sha }}
      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: latest
      - name: Lint, format & build code, generate docs
        run: npm ci
      - env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HEAD_REF: ${{ github.head_ref }}
        name: Commit & push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git add -A
          if ! git diff --cached --exit-code; then
            git commit -m "Code maintenance: lint, format and build code, generate docs"
            if [[ ${{ github.ref }} == "refs/heads/main" ]]; then
              BRANCH_NAME="maintenance-$(date +'%Y%m%d%H%M%S')"
              git checkout -b "$BRANCH_NAME"
              git push origin "$BRANCH_NAME"
              gh pr create --base main --head "$BRANCH_NAME" --title "Maintenance PR" --body "Automatic code maintenance: lint, format and build code."
              PR_URL=$(gh pr view "$BRANCH_NAME" --json url -q '.url')
              gh pr merge --auto --merge --delete-branch "$PR_URL"
            else
              git pull origin $HEAD_REF --rebase
              git push origin HEAD:$HEAD_REF
            fi
          fi
name: Build package
on: [pull_request, push]
permissions:
  contents: write
  pull-requests: write
