jobs:
  publish:
    name: Publish package to GitHub Packages
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version: latest
          registry-url: https://npm.pkg.github.com
          scope: '@olivierzal'
      - name: Install dependencies
        run: npm ci --ignore-scripts
      - env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: npm publish
name: Publish package to GitHub Packages
on:
  release:
    types: [published]
